body {
    overflow: hidden;
}

@media screen and (max-width: 950px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        text-align: center;
        max-width: 600px;
        margin: auto;
        background: #fff;
        padding: 40px;
    }
}

@media screen and (min-width: 951px) {
    .container {
        text-align: center;
        max-width: 600px;
        margin: auto;
        background: #fff;
        padding: 40px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0 10px 36px 0,
            rgba(0, 0, 0, 0.06) 0 0 0 4px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
    }
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #444;
}

p {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: #666;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button {
    font-size: 1em;
    padding: 12px 24px;
}