@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

html,
body {
    overflow-x: hidden;
    overscroll-behavior-x: none;
}

body {
    display: none;
}

* {
    -webkit-tap-highlight-color: transparent;
}

body,
h1,
h2,
p,
ul,
li,
a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
    padding: 50px 10px;
    position: relative;
}

@media screen and (max-width: 950px) {
    body {
        padding: 0 !important;
    }

    .container {
        background: #fff;
        padding: 40px;
    }
}

@media screen and (min-width: 951px) {
    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../media/background.jpg");
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center;
        background-size: cover;
        z-index: -1000;
    }

    body::after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom,
                rgba(255, 255, 255, 0.7),
                rgba(255, 255, 255, 0.1));
        pointer-events: none;
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        z-index: -999;
    }

    .container {
        max-width: 60%;
        margin: auto;
        background: #fff;
        padding: 40px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0 10px 36px 0,
            rgba(0, 0, 0, 0.06) 0 0 0 4px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
    }
}

h1 {
    font-size: 2em;
    padding-bottom: 20px;
    color: #444;
}

h2 {
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 15px;
    color: #666;
}

h3 {
    font-size: 1.2em;
    padding-top: 10px;
    padding-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

ul,
ol {
    margin-bottom: 10px;
    padding-left: 20px;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.case-list li {
    margin-bottom: 15px;
}

a {
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    color: #ff6f61;
    text-decoration: none;
}

.back-link {
    color: #ff6f61;
    display: inline-block;
    transition: 500ms;
}

.back-link:hover {
    color: #e03c31;
    text-decoration: none;
}

.button-container {
    display: grid;
    gap: 15px;
    margin-top: 20px;
}

@media (min-width: 1060px) {
    .button-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media (min-width: 480px) and (max-width: 1060px) {
    .button-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media (max-width: 479px) {
    .button-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
}

.button,
button {
    display: inline-block;
    padding: 12px 24px;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    font-weight: 600;
    color: #fff;
    background-color: #ff6f61;
    border: none;
    border-radius: 12px;
    text-align: center;
    transition: all 400ms ease;
    min-width: 150px;
    box-sizing: border-box;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
}

.button:hover,
button:hover {
    background-color: #ff4f3f;
    transform: translateY(-2px);
    scale: 1.01;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
    cursor: pointer;
}

.button:active,
button:active {
    background-color: #e03c31;
    transform: none;
    scale: 1;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    outline: none;
}

.extended {
    width: 100%;
}

.overview {
    text-align: left;
}

.overview h2 {
    margin: 20px 0 15px;
    font-size: 1.5em;
    color: #666;
}

.overview p {
    margin-bottom: 10px;
    line-height: 1.6;
}

.collapsible {
    cursor: pointer;
    position: relative;
    display: inline-block;
    transition: letter-spacing 600ms ease;
}

.collapsible:hover {
    letter-spacing: 1px;
}

.collapsible::before {
    content: "\002B";
    font-weight: normal;
    color: #999;
    position: relative;
    margin-right: 0.7em;
    transform: rotate(0);
    background-color: transparent;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: content 150ms ease, transform 300ms ease,
        background-color 300ms ease;
    transition-behavior: allow-discrete;
}

.collapsible:hover::before {
    background-color: rgba(0, 0, 0, 0.1);
}

.collapsible:active::before {
    background-color: rgba(0,
            0,
            0,
            0.15);
}

.collapsible.default::before {
    content: "\002B";
}

.collapsible:not(.default)::before {
    content: "\2212";
}

.collapsible.default.active::before {
    content: "\2212";
    transform: rotate(180deg);
}

.collapsible:not(.default).active::before {
    content: "\002B";
    transform: rotate(-180deg);
}

section>.collapsible+* {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    margin: 0;
    display: none;
    transition: all 400ms ease;
}

section>.collapsible.active+* {
    display: block;
    max-height: 9999px;
    opacity: 1;
    margin: revert;
    transition: all 400ms ease;
}

section>.collapsible+*~* {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    margin: 0;
    display: none;
    transition: all 400ms ease;
}

section>.collapsible.active+*~* {
    display: block;
    max-height: 9999px;
    opacity: 1;
    margin: revert;
    transition: all 400ms ease;
}

table {
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto !important;
}

th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
    font-weight: inherit;
}

tr:nth-child(even) {
    background-color: #eee;
}